    <div {{action "click" sectionId date }} class="date_event_container">
        {{title}}<small>{{dayOfWeek}}</small>
        <div class="event event_{{dayType}}"></div>
        <div class="event_value">{{value}}</div>
        <div class="event_shift event_shift_{{shift}}">{{shift}}</div>
    </div>
