<table class="table table-responsive table-bordered  table-striped calendar-month">
    <caption>{{monthName}}</caption>
    <thead>
        <tr>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
            <th>Su</th>
        </tr>
    </thead>
    <tbody>
    {{#each weeks as |week|}}
        <tr>
            {{#each week as |day|}}
                <td class={{day.className}}>
                    <div {{action "click" day}}>
                        {{day.title}}
                        {{#each day.events as |event|}}
                            {{#if event.d }}
                                <div class="event event_{{event.d}}"></div>
                            {{else if event.n}}
                            {{else}}
                                &bull;
                            {{/if}}
                        {{/each}}
                    </div>
                </td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

