<table class="table table-responsive table-bordered  table-striped calendar-month">
    <caption>{{monthName}} <small>{{y}}</small></caption>
    <thead>
        <tr>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
            <th>Su</th>
        </tr>
    </thead>
    <tbody>
    {{#each weeks as |week|}}
        <tr>
            {{#each week as |day|}}
                <td class={{day.className}}>
                    <div {{action "click" day}} class="date_event_container">
                        {{day.title}}
                        {{#each day.events as |event|}}
                            {{#if event.summary.d }}
                                <div class="event event_{{event.summary.d}}"></div>
                            {{else if event.summary.n}}
                            {{else}}
                                &bull;
                            {{/if}}
                            {{#if event.summary.v }}
                                <div class="event_value">{{event.summary.v}}</div>
                            {{/if}}
                        {{/each}}
                    </div>
                </td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

