<div class="calendar_options">
    {{drop-down content=years onChange=(action "changeYear") selectedValue=selectedYear }}
    {{drop-down content=months onChange=(action "changeMonth") selectedValue=selectedMonth }}
</div>

<div class="clearfix"></div>

{{#each monthSections as |m|}}
    {{calendar-month month=m.month year=year onCheckDaysOfWeek=(action 'onCheckDaysOfWeek') checkDateAction=(action 'checkDate') checkedDates=m.days model=model nonWorkingOnly=nonWorkingOnly sectionId=m.sectionId}}
{{/each}}

<div class="clearfix"></div>

{{#if showDiapasons }}
    {{calendar-diapasons event_types=event_types diapasons=model.events.diapasons addDiapasonAction=addDiapasonAction removeDiapasonAction=removeDiapasonAction}}
{{/if}}

{{calendar-actions sections=monthSections showButtons=showButtons event_types=event_types onUpdate=(action 'onUpdate') onUncheck=(action 'onUncheck') }}