<table class="table table-responsive table-bordered  table-striped calendar-month">
    <caption>{{monthName}} <small>{{year}}</small></caption>
    <thead>
        <tr>
            {{#each daysOfWeek as |day|}}
                <th {{action "onCheckDaysOfWeek" year sectionId day on "click"}}>{{day}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each weeks as |week|}}
        <tr>
            {{#each week as |day|}}
                {{calendar-day date=day.date isHoliday=day.isHoliday localEvents=day.localEvents month=month isChecked=day.isChecked checkDateAction=checkDateAction showNumbers=true sectionId=sectionId}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

