
<p>
    Filter:
    {{drop-down content=filterWithAll onChange=(action "select") }}
</p>

<table class="table">
    <thead>
    <tr>
        {{#each-in headers as |token title|}}
            <th {{action "sort" token on "click"}}>
                {{title}}
                {{#if (is-equal token sortToken)}}
                    {{#if sortDirection}}
                        &uparrow;
                    {{else}}
                        &downarrow;
                    {{/if}}
                {{/if}}
            </th>
        {{/each-in}}
    </tr>
    </thead>
    <tbody>
    {{#each filteredItems as |item id|}}
        {{yield item id}}
    {{/each}}
    </tbody>
</table>



