{{yield}}

<div class="calendar_options">
    {{drop-down content=years onChange=(action "changeYear") selectedValue=selectedYear }}
    {{drop-down content=months onChange=(action "changeMonth") selectedValue=selectedMonth  }}
</div>


{{horizontal-month month=month year=year showNumbers=true model=team isHeader=true checkedDates=emptyArray sectionId='none'}}
<div>
    {{#each monthSections as |section|}}
        <div>
            {{#link-to "employee" section.model.id}}{{section.model.name}} {{section.model.surname}}{{/link-to}}
            {{horizontal-month month=section.month year=year showNumbers=false checkedDates=section.days onPickDate=(action 'onPickDate') model=section.model sectionId=section.sectionId}}
        </div>
    {{/each}}
</div>

{{#if showActions}}
    {{calendar-actions sections=monthSections checkedDates=checkedDates showButtons=true model=team event_types=event_types onUpdate=(action 'onUpdate') onUnpick=(action 'onUnpick')  onPickWithAlgorithm=(action 'onPickWithAlgorithm')}}
{{/if}}
