{{yield}}

<div class="calendar_options">
    {{drop-down content=years onChange=(action "changeYear") selectedValue=year }}
    {{drop-down content=months onChange=(action "changeMonth") selectedValue=month  }}
</div>


{{horizontal-month month=month year=year showNumbers=true model=team isHeader=true checkedDates=[] sectionId='none'}}
<div>
    {{#each monthSections as |section|}}
        <div>
            {{#link-to "employee" section.model.id}}{{section.model.name}} {{section.model.surname}}{{/link-to}}
            {{horizontal-month month=section.month year=year showNumbers=false checkedDates=section.days checkDateAction=(action 'checkDate') model=section.model sectionId=section.sectionId}}
        </div>
    {{/each}}
</div>

{{calendar-actions sections=monthSections checkedDates=checkedDates showButtons=true model=team event_types=event_types onUpdate=(action 'onUpdate') onUncheck=(action 'onUncheck') }}
