{% if form is defined %}{% form_theme form '::bootstrap_3_layout_imported.html.twig' %}{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('dist/assets/bootstrap.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Timesheet <small>v2</small> <span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    <li><a href="{{ path('fos_user_resetting_request') }}">Reset password</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    <li title="HELP"><a href="https://github.com/patgod85/timesheet2/blob/master/doc/index.md">?</a></li>
                    <li><a href="https://github.com/patgod85/timesheet2/"><img src="/assets/images/github.png" alt="Github"></a></li>

                </ul>
            </div>
        </nav>

        <div class="container">

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
