
<h1>Edit a compensatory leave #{{model.leave.id}}</h1>

<p>

    {{link-to "<< Back to list" "employee.compensatory-leaves"}}
</p>

<p>
    Date:
    {{bootstrap-datepicker value=model.leave.date format="yyyy-mm-dd" todayHighlight=true
                           autoclose=true weekStart=1 forceParse=false}}

</p>
<p>Description: {{input value=model.leave.description}}</p>
<p>Value: {{input value=model.leave.value}}</p>

<p>
    <button {{ action "onSave" model.leave on "click" }}>Save</button>
</p>