{{bread-crumbs}}

{{input value=model.employee.name}}
{{input value=model.employee.surname}}
{{input value=model.employee.position}}

{{bootstrap-datepicker value=model.employee.work_start format="yyyy-mm-dd" todayHighlight=true autoclose=true weekStart=1}}

<button type="button" {{ action "submit" model.employee on="click" }}>Save</button>

{{calendar-year y=2016 calendars=model.employee.calendars refreshAction="refresh" model=model.employee showButtons=true event_types=model.events}}


