{{bread-crumbs}}

<p>Name: {{input value=model.name}}</p>
<p>Code: {{input value=model.code}}</p>
<p>Color: {{input value=model.color}}</p>
<p>Background color: {{input value=model.backgroundColor}}</p>

<button type="button" {{ action "submit" model on="click" }}>Save</button>


