{{bread-crumbs}}

<p>Name: {{input value=model.name}}</p>
<p>Code: {{input value=model.code}}</p>

<h4>Users:</h4>

<ul>
    {{#each model.users as |user|}}
        <li>{{#link-to "user" user.id}}{{user.username}}{{/link-to}}</li>
    {{/each}}
</ul>

<h4>Employees:</h4>

<ul>
    {{#each model.employees as |employee|}}
        <li>{{employee.name}} {{employee.surname}} </li>
    {{/each}}
</ul>
